#ind-home {
    margin:0;
    padding: 0;
    background-color: #141311;
    height: 100%;
    width: 100%;
}

.info-table{
    width: 100%;
    font-family: serif;
    font-size: 13pt;
    color: #9E8469;
    border-collapse: collapse;
}

.info-table td{
    padding: 15px;
}

.info-table td:nth-child(1) {width: 30%}
.info-table td:nth-child(2) {width: 70%}

.info-table a:visited{
    color: #A2482E;
}
