html{
    height: 100%;
}

#home {
    margin:0;
    background-color: #141311;
    height: inherit;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    height: calc(100% - 100px);
}


@font-face {
    font-family: got-font;
    src: url(got.ttf);
}

#navbar a:hover {
	color: #a2482e;
	background-color: black;
}
.title-header {
    font-family: got-font;
    text-align: center;
	color: #a2482e;
    vertical-align: middle;
    width: 100%;
    border-color: black;
    padding-top: 10px;
}

.info-table{
    width: 100%;
    font-family: sans-serif;
    font-size: 12pt;
    color: #B7B7B6;
    border-collapse: collapse;
}

.info-table td{
    padding: 15px;
}

.info-table td:nth-child(1) {width: 30%}
.info-table td:nth-child(2) {width: 70%}

.navbar-brand {
	font-family: got-font;
	color: #B7B7B6;
}

.navbar-brand:hover{
	color: #a2482e;
}

.nav{
	background-color: black;
	color: #B7B7B6;
	border-color: #e7e7e7;
}

.navbar-collapse a{
	color: #B7B7B6;
}
