body {
    height:100%;
}

#houses {
    background: url("https://s-media-cache-ak0.pinimg.com/originals/c5/4d/44/c54d44b5676ebd07aaa532158ca2eaba.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}
