.index{
	background-color: #9E8469;
	font-family: serif;
	overflow-x: hidden;
}

.featurette-heading{
	color: black;
}

.lighter{
	color: #a2482e;
}

.background-img{
	max-width: 100%;
	max-height: 1500px;
	padding: 0;
	position: relative;
	z-index: 0;
}

.pull-right a{
	color: #a2482e;
}

.col-lg-4{
	text-align: center;
	padding: 10px;
}

.col-lg-4 h2{
	color: #a2482e;
}

.col-lg-4 p{
	padding-top: 5px;
}

.col-md-push-5{
	padding-top: 45px;
	text-align: center;
}

.col-md-push-5 p{
	padding-right: 25px;
}

.scroll{
	color:black;
	font-size: 30px;
	position: relative;
	left: 10%;
	top: -21em;
	z-index: 2;
}

.typed-cursor{
   	opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    top: 200px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
