.index{
	background-color: #9E8469;
	font-family: serif;
	overflow-x: hidden;
}

.centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.featurette-heading{
	color: black;
}

.row.col-md-7{
	float: left;
	position: absolute;
}

.lighter{
	color: #a2482e;
}

.background-img{
	max-width: 100%;
	max-height: 1500px;
	padding: 0;
	position: relative;
	z-index: 0;
}

.pull-right a{
	color: #a2482e;
}

.col-lg-4{
	text-align: center;
	padding: 10px;
}

.col-lg-4 h2{
	color: #a2482e;
}

.col-lg-4 p{
	padding-top: 5px;
}

.col-md-push-5{
	padding-top: 45px;
	text-align: center;
}

.col-md-push-5 p{
	padding-right: 25px;
}

.scroll{
	color:black;
	font-size: 30px;
	position: relative;
	left: 10%;
	top: -21em;
	z-index: 2;
}

#twitter-widget-0{
	margin-left: 40px;
}

a.twitter-timeline {
  /* Buttonish */
  display: inline-block;
  padding: 6px 12px 6px 30px;
  margin: 10px;
  /* Text */
  font: normal 12px/18px Helvetica, Arial, sans-serif;
  color: #333;
  white-space: nowrap;
}

a.twitter-timeline:hover,
a.twitter-timeline:focus {
  background-color: #dedede;
}

/* Color Highlight for keyboard navigation */
a.twitter-timeline:focus {
  outline: none;
  border-color: #0089cb;
}
.typed-cursor{
   	opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    top: 200px;
}

.col-md-push-5{
	text-align: center;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
