.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
	margin-top: 20px;
}

.index{
	background-color: #31404c;
	font-family: serif;
	overflow-x: hidden;
}

html,body{
  background-color: #fcf5e5;
}

.centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.featurette-heading{
	color: #fcf5e5;
}

.row.col-md-7{
	float: left;
	position: absolute;
}

.lighter{
	color: #a2482e;
}

.background-img{
	max-width: 100%;
	max-height: 1500px;
	padding: 0;
	position: relative;
	z-index: 0;
}

.pull-right a{
	color: #a2482e;
}

.col-lg-4{
	text-align: center;
	padding: 10px;
}

.col-lg-4 h2{
	color: #a2482e;
}

.col-lg-4 p{
	padding-top: 5px;
}


.scroll{
	color:black;
	font-size: 30px;
	position: relative;
	left: 10%;
	top: -21em;
	z-index: 2;
}


.timeline-Widget{
  border-style: solid;
  border-color: #a2482e;
  width: 450px;
  height: 505px;
}

#twitter{
	width: 450px;
	height: 500px;
}

a.twitter-timeline {
  /* Buttonish */
  display: inline-block;
  padding: 6px 12px 6px 30px;
  margin: 10px;
  /* Text */
  font: normal 12px/18px Helvetica, Arial, sans-serif;
  color: #333;
  white-space: nowrap;
}

a.twitter-timeline:hover,
a.twitter-timeline:focus {
  background-color: #dedede;
}

/* Color Highlight for keyboard navigation */
a.twitter-timeline:focus {
  outline: none;
  border-color: #0089cb;
}
.typed-cursor{
   	opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    top: 200px;
}

.tail{
	height: 200px;
}

.icon{
	width: 100px;
	height: 100px;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Desktop adjustements */
@media (min-width: 1195px) {
	.tail{
		height: 400px;
		padding-top: 30px;
	}

	.sink{
		padding-bottom: 30px;
	}

  .carousel{
    width: 100%;
	  height: 100%;
  }

	html,body{
		height: 100%;
	}
	.carousel,.item,.active{
		height: 100%;
	}
	.carousel-inner{
		height: 100%;
  	width: 100%;
	}
	.carousel .container {
    width: 100%;
    height: 100%; /*slider height*/
   }
  .carousel .item {
    width: 100%; /*slider width*/
    height: 100%; /*slider height*/
  }
  .carousel .item img {
    width: 100%; /*img width*/
    height: 100%; /*slider height*/
  }
  
.header-text {
    position: absolute;
    top: 75%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fcf5e5;
		background: rgba(0, 0, 0,0.65);
	
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
  padding: 10px;
}

.header-text h3 span {
  background-color: #000;
  padding: 15px;
}

.bottom-column{
 	float: none;
  display: table-cell;
  vertical-align: bottom;
}

