.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9,.col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
    background-color: black;
}

.container-fluid{
    min-height: 100%;
}

img {
    display: inline-block;
    max-width:250px;
    max-height:350px;
    width: auto;
    height: auto;
}

#ind-home {
    margin:0;
    padding: 0;
    background-color: #141311;
    height: 100%;
    width: 100%;
}

#main-content {
    height: calc(100% - 80px);
    margin-top: 30px;
}

.info-table{
    width: 100%;
    font-family: serif;
    font-size: 13pt;
    color: #9E8469;
    border-collapse: collapse;
    vertical-align: top;
}

.info-table td{
    padding-bottom: 30px;
}

.info-table td:nth-child(1) {width: 30%}
.info-table td:nth-child(2) {width: 70%}

.link {
    color: #A2482E;
    font-family: serif;
    font-size: 13pt;
}

.link:visited{
    color: #A2482E;
}

.link:hover{
    color: #A2482E;
}

.return-link {
    text-align: center;
    height: 30px;
    margin: 30px;
}

.pull-center{
    text-align: center;
}

.text-left {
    padding-top: 30px;
    display: inline-block;
    text-align: left;
}

/* Desktop adjustements */
@media(min-width:768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
    .col-sm-7, .col-sm-8, .col-sm-9,.col-sm-10, .col-sm-11, .col-sm-12,
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
    .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
        margin-top: 50px;
        min-height: calc(100% - 110px);
    }

    .container-fluid {
        /*margin-top: 30px;*/
    }

    .pull-center{
        padding-left: 70px;
    }

    .text-left{
        padding-left:100px;
        padding-top: 0;
    }

}
