body{
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7ba2bf , #31404c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #7ba2bf ,#31404c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100%;
    background-attachment: fixed;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9,.col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
}

.container-fluid{
    min-height: 100%;
}

img {
    display: inline-block;
    max-width:250px;
    max-height:350px;
    width: auto;
    height: auto;
}

#ind-home {
    margin:0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
}

td a {
    color: #fcf5e5;
    font-weight: 600;
}


#main-content {
    height: calc(100% - 80px);
    margin-top: 30px;
}

.info-table{
    width: 135%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13pt;
    font-weight: 500;
    color: #fcf5e5;
    border-collapse: collapse;
    vertical-align: top;
}

.info-table td{
    padding-bottom: 30px;
}

.info-table td:nth-child(1) {width: 50%}
.info-table td:nth-child(2) {width: 50%}

.link {
    color: #31404c;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13pt;
}

.link:visited{
    color: #31404c;
}

.link:hover{
    color: #31404c;
}

.return-link {
    text-align: center;
    height: 30px;
    margin: 30px;
}

.pull-center{
    text-align: center;
    width: 100%;
}

.text-left {
    padding-top: 30px;
    display: inline-block;
    text-align: left;
    width: 100%;
}

li
{
list-style-type: none;
}

/* Desktop adjustements */
@media(min-width:768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
    .col-sm-7, .col-sm-8, .col-sm-9,.col-sm-10, .col-sm-11, .col-sm-12,
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
    .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
        min-height: calc(100% - 110px);
    }

    .pull-center{
        padding-left: 70px;
        width: 100%;
    }

    .text-left{
        padding-top: 0;
        width: 100%;
    }

    #ind-home {
        background-color: #141311;
    }

}



