.selected-character {
	margin: auto;
    width: 50%;
    padding: 25px;
    margin-top: 10px;
    margin-left: calc(50% - 125px);
}

.selected-character img {
	width: 250px;
	height: 250px;
}

.selected-character button {
	background-color: #a2482e;
	border: none;
	color: white;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 10px;
	margin-top: 10px;
	width: 250px;
}

.character-picker {
	margin: auto;
    width: 50%;
    padding: 25px;
    margin-top: 20px;
    margin-left: calc(50% - 265px);
}

.character-picker img {
	width: 100px;
	height: 100px;
	cursor: pointer;
}