@font-face {
    font-family: got-font;
    src: url(got.ttf);
}

nav .container{
    background-color: black;
    margin: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-default {
    border-color: transparent;
    background-color: black;
}

.navbar-default .navbar-brand {
    font-family: got-font;
    color: #fcf5e5;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
    color: #A2482E;
    background-color: #31404c;
}
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fcf5e5;
    background-color: #31404c;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
    background-color: #31404c;
}

.navbar-default .navbar-toggle {
    border-color: #9e8469;
    color: #fcf5e5;
    background-color: #31404c;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #9e8469;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #31404c;
}

.navbar-default .nav li a {
    font-weight: 400;
    letter-spacing: 1px;
    color: #fcf5e5;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus{
    color: #A2482E;
    background-color: #31404c;
}

/*.navbar-default .nav li a:focus {
    outline: 0;
    color: #1ee2e7;
}*/

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fcf5e5;
    background-color: #31404c;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #A2482E;
    background-color: #31404c;
}

@media(min-width:768px) {
    .navbar-default {
        padding:0;
        border: 0;
        background-color: black;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 0;
        background-color: #31404c;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

    nav .container{
        background-color: #31404c;
        margin: 0;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }
}
