body{
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A2482E , #000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A2482E , #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
  margin: 50px;
}


.page-title{
  font-size: 30px;
  color: #FBE3A7;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

table{
  width:100%;
  table-layout: fixed;
}

.tbl-header{
  background-color: #000;
  margin-left: 5%;
  margin-right: 5%;
 }

.tbl-content{
  height: 550px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid #FBE3A7;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #5D3F2D;
}

th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #FBE3A7;
  text-transform: uppercase;
}

td{
  padding: 20px 15px;
  padding-left: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #FBE3A7;
  border-bottom: solid 2px rgba(255,255,255,0.1);
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

