body{
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7ba2bf , #31404c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #7ba2bf ,#31404c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 50px;
    min-height: 100%;
    background-attachment: fixed;
}

.page-title{
    font-size: 35px;
    color: #fcf5e5;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
    font-family: got-font;
}

.model-table{
    background-color: #000000
    margin-bottom: 0;
    width: 80%;
}

tbody tr:hover {
    background-color:rgba(252, 245, 229, 0.32);
}

th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    color:#fcf5e5;
    text-transform: uppercase;
}

td{
    padding: 20px 15px;
    padding-left: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 16px;
    color: #fcf5e5;
    /* border-bottom: solid 2px rgba(255, 255, 255, 0.1); */
}

td a{
    color:#fcf5e5 !important;
    font-weight: 500;
    padding-left: 0px;
    
}

td a:hover{
    color: #fcf5e5;
}



.page-number{
    color: black !important;
    border-color: black !important;
}

.pagination .active > a {
    background-color: #fcf5e5 !important;
}

a{
    color: #fcf5e5 !important;
    font-weight: 700;
    padding-left: 50px;
    text-align: center;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Make tables repsonsive in firefox */
@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}





