body{
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A2482E , #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A2482E , #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 50px;
}

.page-title{
    font-size: 30px;
    color: #FBE3A7;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

.model-table{
    background-color: #5D3F2D;
    margin-bottom: 0;
    width: 80%;
}

th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    color: #FBE3A7;
    text-transform: uppercase;
}

td{
    padding: 20px 15px;
    padding-left: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 14px;
    color: #FBE3A7;
    border-bottom: solid 2px rgba(255,255,255,0.1);
}

td a{
    color: #000;
    font-weight: 400;
}

td a:hover{
    color: #a2482e;
}

.page-number{
    color: black !important;
    border-color: black !important;
}

.pagination .active > a {
    background-color: #FBE3A7 !important;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Make tables repsonsive in firefox */
@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}
