html{
    height: 100%;
    overflow-x: hidden;
}

.row.text-center > div {
    display: inline-block;
    float: none;
}

#home {
    margin:0;
    background-color: #fff;
    height: inherit;
    padding-top: 30px;
    padding-bottom: 30px;
}

#nav-row {
    width:100%;
    background-color: #31404c;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    height: calc(100% - 100px);
}


@font-face {
    font-family: got-font;
    src: url(got.ttf);
}

#navbar a:hover {
	color: #a2482e;
	background-color: #31404c;
}
.title-header {
    font-family: got-font;
    text-align: center;
	  color: #fcf5e5;
    vertical-align: middle;
    width: 100%;
    border-color: black;
    padding-top: 10px;
}

.navbar-brand {
	font-family: got-font;
	color: #9E8469;
}

.navbar-brand:hover{
	background-color: #31404c;
	color: #a2482e;
}

.navbar-fixed-top {
    width: 100%;
    background-color: #31404c;
}

.nav{
	background-color: #31404c;
	color: #9E8469;
}

#top-nav{
  margin-bottom: 0;
  position: inherit;
  background-color: #31404c;
}

.navbar-collapse a{
	color: #9E8469;
  background-color: #31404c;
}

.navbar-default .navbar-collapse{
  background-color: #31404c;
}
