#home {
    margin:0;
    background-color: black;
}

header{
    height: 100px;
    text-align: center;
    background-color: black;
    width: 100%;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


@font-face {
    font-family: got-font;
    src: url(got.ttf);
}

#navbar a:hover {
	color: #a2482e;
	background-color: black;
}
.page-header {
    font-family: got-font;
    text-align: center;
	color: #a2482e;
    vertical-align: middle;
    height: 100%;
    display: inline-block;
}

.info-table{
    width: 80%;
    font-family: sans-serif;
    font-size: 12pt;
}

.navbar-brand {
	font-family: got-font;
	color: #B7B7B6;
}

.navbar-brand:hover{
	color: #a2482e;
}

.nav{
	background-color: black;
	color: #B7B7B6;
	border-color: #e7e7e7;
}

.navbar-collapse a{
	color: #B7B7B6;
}

.info-table tr:nth-child(1) {width: 40%}
.info-table tr:nth-child(2) {width: 60%}