<!DOCTYPE html>
<html>

<title>About</title>

<!-- Include CSS stylesheet -->
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="../static/css/about.css">

<!-- Include Bootstrap CDN -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<body>
    <div ng-app>
        <nav class="navbar">
            <div ng-include src="'navWell.html'"></div>
        </nav>
    </div>
    <header>
        <h1 class="title-header">About</h1>
        <h3 class="title-header">Group Name</h3>
    </header>

    <div class="members center">
        <div class="container-fluid group-member">
            <div class="member-name">Sarah Gorring</div>
            <img src="https://avatars1.githubusercontent.com/u/11094791?v=3&s=460">
            <div class="member-bio">
                <p>Soy Kieran. Me gusta queso.</p>
            </div>
            <div class="details">
                <p><strong>Responsabilities:</strong> Over 9000</p>
                <p><strong>Commits:</strong> Over 9000</p>
                <p><strong>Issues:</strong> Over 9000</p>
                <p><strong>Unit Tests:</strong> Over 9000</p>
            </div>
        </div>
        <div class="container-fluid group-member">
            <div class="member-name">Apurva Gorti</div>
            <img src="https://avatars3.githubusercontent.com/u/5175510?v=3&s=460">
            <div class="member-bio">
                <p>Soy Kieran. Me gusta queso.</p>
            </div>
            <div class="details">
                <p><strong>Responsabilities:</strong> Over 9000</p>
                <p><strong>Commits:</strong> Over 9000</p>
                <p><strong>Issues:</strong> Over 9000</p>
                <p><strong>Unit Tests:</strong> Over 9000</p>
            </div>
        </div>
        <div class="container-fluid group-member">
            <div class="member-name">Eryn Li</div>
            <img src="https://avatars1.githubusercontent.com/u/5560727?v=3&s=460">
            <div class="member-bio">
                <p>Soy Kieran. Me gusta queso.</p>
            </div>
            <div class="details">
                <p><strong>Responsabilities:</strong> Over 9000</p>
                <p><strong>Commits:</strong> Over 9000</p>
                <p><strong>Issues:</strong> Over 9000</p>
                <p><strong>Unit Tests:</strong> Over 9000</p>
            </div>
        </div>
        <div class="container-fluid group-member">
            <div class="member-name">Peyton Sarmiento</div>
            <img src="https://avatars0.githubusercontent.com/u/9145128?v=3&s=460">
            <div class="member-bio">
                <p>Soy Kieran. Me gusta queso.</p>
            </div>
            <div class="details">
                <p><strong>Responsabilities:</strong> Over 9000</p>
                <p><strong>Commits:</strong> Over 9000</p>
                <p><strong>Issues:</strong> Over 9000</p>
                <p><strong>Unit Tests:</strong> Over 9000</p>
            </div>
        </div>
        <div class="container-fluid group-member">
            <div class="member-name">Kieran Vanderslice</div>
            <img src="https://avatars1.githubusercontent.com/u/8754880?v=3&s=460">
            <div class="member-bio">
                <p>Soy Kieran. Me gusta queso.</p>
            </div>
            <div class="details">
                <p><strong>Responsabilities:</strong> Over 9000</p>
                <p><strong>Commits:</strong> Over 9000</p>
                <p><strong>Issues:</strong> Over 9000</p>
                <p><strong>Unit Tests:</strong> Over 9000</p>
            </div>
        </div>
    </div>

    <div class="project-info center">
        <div class="group-stats info-section">
            <header>
                <h3 class="title-header">Group Stats</h3>
            </header>

            <div class="details">
                <p><strong>Commits:</strong> Over 9000</p>
                <p><strong>Issues:</strong> Over 9000</p>
                <p><strong>Unit Tests:</strong> Over 9000</p>
                <a href="https://github.com/ayeryn/cs373-idb">Repo</a>
                <a href="https://github.com/ayeryn/cs373-idb/issues">Issues</a>
                <a href="https://github.com/ayeryn/cs373-idb/wiki">GH Wiki</a>
            </div>
        </div>

        <div class="data-info info-section">
            <header>
                <h3 class="title-header">Data</h3>
            </header>

            <div class="details">
                <a href="https://anapioficeandfire.com/">API of Ice and Fire</a>
                <br>
                <a href="https://api.got.show/doc/">GOT Show API</a>
            </div>
        </div>

        <div class="tools-info info-section">
            <header>
                <h3 class="title-header">Tools</h3>
            </header>

            <div class="details">
                <p>Here are all the tools we used: Our minds, some dumb luck, Stack OVerflow, and W3 schools</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
</body>

</html>
