<!DOCTYPE html>
<html>

<head>
    <title>The Kingsroad</title>

    <!-- Include CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/individual.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hover.css') }}">

    <!-- Include Bootstrap CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body id="ind-home">
    <div id="nav-row">
        <div ng-app>
            <nav class="navbar" style="margin: 0;">{% include 'navWell.html' %}</nav>
        </div>
    </div>
    <div class="col-md-offset-1 col-md-10" style="background-color: black; margin-top: 30px; height: calc(100% - 110px);">
        <header class="title-header">
            <h1>The Kingsroad</h1>
        </header>
        <div class="container-fluid">
            <div id="main-content">
                <div class="row">
                    <div class="col-md-offset-2 col-sm-8">
                        <table class="info-table">
                            <tr>
                                <td>Season</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Previous Episode</td>
                                <td><a href="/s1e1" class="hvr-pop link">Winter Is Coming</a></td>
                            </tr>
                            <tr>
                                <td>Next Episode</td>
                                <td><a href="/s1e3" class="hvr-pop link">Lord Snow</a></td>
                            </tr>
                            <tr>
                                <td>Characters</td>
                                <td>Benjen Stark, Jhiqui, Mycah, Mikken, Eddard Stark, Robert Baratheon, Jaime Lannister, Catelyn Stark, Daenerys Targaryen, <a href="cerseilannister" class="link">Cersei Lannister</a>, Jorah Mormont, Viserys Targaryen, <a href="jonsnow" class="link">Jon Snow</a>, Sansa Stark, Arya Stark, Robb Stark, Theon Greyjoy, Bran Stark, Joffrey Baratheon, Sandor Clegane, Tyrion Lannister, Jory Cassel, Doreah, Qotho, Rodrik Cassel, Irri, Ilyn Payne, <a href="tommenbaratheon" class="link">Tommen Baratheon</a>, Myrcella Baratheon</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="return-link">
                <div class="row"><a href="/episodes" class="hvr-pop link">Back To All Episodes</a></div>
            </div>
        </div>
    </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    </body>

    </html>
