<!DOCTYPE html>
<html>

<head>
    <title>House Targaryen of King's Landing</title>

    <!-- Include CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Include Bootstrap CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body id="home">
    <div ng-app>
        <nav class="navbar" style="margin: 0;">{% include 'navWell.html' %}</nav>
    </div>
    <div class="col-md-offset-1 col-md-10" style="height:calc(100% - 50px); background-color: black">
        <header class="title-header">
            <h1>House Targaryen of King's Landing</h1>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-6">
                    <table class="info-table">
                        <tr>
                            <td>Region</td>
                            <td>The Crownlands</td>
                        </tr>
                        <tr>
                            <td>Words</td>
                            <td>Fire and Blood</td>
                        </tr>
                        <tr>
                            <td>Current Lord</td>
                            <td>Daenerys Targaryen</td>
                        </tr>
                        <tr>
                            <td>Heir</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>Over Lord</td>
                            <td>N/A</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-2">
                    <img src="http://vignette2.wikia.nocookie.net/gameofthrones/images/4/43/House-Targaryen-Main-Shield.PNG/revision/latest/scale-to-width-down/350?cb=20161206005534">
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
</body>

</html>
