<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>About</title>

    <!-- Include CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">

    <!-- Include Bootstrap CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>


<body>
    <header>
        <div id="nav-row">
            <div ng-app>
                <nav class="navbar">{% include 'navWell.html' %}</nav>
            </div>
        </div>
        <h1 class="title-header">About</h1>
        <h3 class="title-header">A Group Has No Name</h3>
    </header>

    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="group-member">
                    <div class="member-name">Sarah Gorring</div>
                    <img src="https://avatars1.githubusercontent.com/u/11094791?v=3&s=460">
                    <div class="member-bio">
                        <p>Hi, I'm Sarah. I'm a senior in computer science. One day I hope to live on a farm and have 15 dogs.</p>
                    </div>
                    <div class="details">
                        <p><strong>Responsabilities:</strong> Frontend Page Content/Styling, Report</p>
                        <p><strong>Commits:</strong> 27</p>
                        <p><strong>Issues:</strong> 5</p>
                        <p><strong>Unit Tests:</strong> 0</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="group-member">
                    <div class="member-name">Apurva Gorti</div>
                    <img src="https://avatars3.githubusercontent.com/u/5175510?v=3&s=460">
                    <div class="member-bio">
                        <p>Apurva KIERAN Gorti. Giants. Warriors. Cali. Hella Frisco.</p>
                    </div>
                    <div class="details">
                        <p><strong>Responsabilities:</strong> Frontend Page Content/Styling, API, UML Diagram</p>
                        <p><strong>Commits:</strong> 29</p>
                        <p><strong>Issues:</strong> 5</p>
                        <p><strong>Unit Tests:</strong> 0</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="group-member">
                    <div class="member-name">Eryn Li</div>
                    <img src="https://avatars1.githubusercontent.com/u/5560727?v=3&s=460">
                    <div class="member-bio">
                        <p>My name is Eryn and I'm a senior in CS at the University of Texas at Austin. I enjoy makeup, fashion, and reading.</p>
                    </div>
                    <div class="details">
                        <p><strong>Responsabilities:</strong> Frontend Page Content/Styling</p>
                        <p><strong>Commits:</strong> 34</p>
                        <p><strong>Issues:</strong> 7</p>
                        <p><strong>Unit Tests:</strong> 0</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="group-member">
                    <div class="member-name">Peyton Sarmiento</div>
                    <img src="https://avatars0.githubusercontent.com/u/9145128?v=3&s=460">
                    <div class="member-bio">
                        <p>Hi y'all! My name is Peyton! Since 1995, Peyton has been putting the "me" in "awesome"</p>
                    </div>
                    <div class="details">
                        <p><strong>Responsabilities:</strong> Backend, Deploying to AWS, Report</p>
                        <p><strong>Commits:</strong> 25</p>
                        <p><strong>Issues:</strong> 4</p>
                        <p><strong>Unit Tests:</strong> 0</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-push-3 col-md-3 col-md-push-3 col-sm-6 col-xs-12">
                <div class="group-member">
                    <div class="member-name">Kieran Vanderslice</div>
                    <img src="https://avatars1.githubusercontent.com/u/8754880?v=3&s=460">
                    <div class="member-bio">
                        <p>I am Kieran. I'm  a Junior in CS here at UT. I am not good at writing bios.</p>
                    </div>
                    <div class="details">
                        <p><strong>Responsabilities:</strong> Frontend Page Content/Styling, Unit Testing </p>
                        <p><strong>Commits:</strong> 20</p>
                        <p><strong>Issues:</strong> 4</p>
                        <p><strong>Unit Tests:</strong> 9 </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-pull-3 col-md-3 col-md-pull-3 col-sm-6 col-xs-12">
                <div class="group-stats info-section">
                    <h3 class="title-header">Group Stats</h3>
                    <div class="details">
                        <p><strong>Commits:</strong> Over 9000</p>
                        <p><strong>Issues:</strong> Over 9000</p>
                        <p><strong>Unit Tests:</strong> 9 </p>
                        <a href="http://docs.swegot1.apiary.io/#">SWEGoT API</a>
                        <a href="https://github.com/ayeryn/cs373-idb">Repo</a>
                        <a href="https://github.com/ayeryn/cs373-idb/issues">Issues</a>
                        <a href="https://github.com/ayeryn/cs373-idb/wiki">GH Wiki</a>
                    </div>

                    <h3 class="title-header">Data</h3>
                    <div class="details">
                        <a href="https://anapioficeandfire.com/">API of Ice and Fire</a>
                        <br>
                        <a href="https://api.got.show/doc/">GOT Show API</a>
                    </div>

                    <h3 class="title-header">Tools</h3>
                    <div class="details">
                        <p>Here are all the tools we used: <a href="http://flask.pocoo.org/">Flask</a>, <a href="https://aws.amazon.com/free/?sc_channel=PS&sc_campaign=acquisition_US&sc_publisher=google&sc_medium=cloud_computing_hv_b&sc_content=aws_core_e_control_q32016&sc_detail=amazon%20web%20services&sc_category=cloud_computing&sc_segment=175056972663&sc_matchtype=e&sc_country=US&s_kwcid=AL!4422!3!175056972663!e!!g!!amazon%20web%20services&ef_id=Ve2riQAABdO3ZUKC:20170323222943:s">AWS</a>, sheer dumb luck, <a href="https://apiary.io/">Apiary</a>, and <a href="https://angularjs.org/">AngularJS</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row unit-tests">
    <button class="middle">Run Unit Tests</button>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
</body>

</html>
