<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    
    <title>Characters</title>

        <!-- Include CSS stylesheet -->
        <link rel="stylesheet" href="{{url_for('static',
        filename='css/style.css')}}">

    <!-- Page Specific stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/models.css') }}">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">


    <!-- Include Bootstrap CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
    <div id="nav-row">
        <div ng-app>
            <nav class="navbar">{% include 'navWell.html' %}</nav>
        </div>
    </div>
    <h3 class = "page-title">Characters</h3>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th> # <i class="fa fa-caret-down" onclick="sortTable(0); myFunction(0);"></i></th>
                    <th> Name <i class="fa fa-caret-down" onclick="sortTable(1); myFunction(1)"></i></th>
                    <th> Titles <i class="fa fa-caret-down"  onclick="sortTable(2); myFunction(2);"></i></th>
                    <th> Father <i class="fa fa-caret-down"  onclick="sortTable(4); myFunction(4)"> </i></th>
                    <th> Mother <i class="fa fa-caret-down"  onclick="sortTable(5); myFunction(5)"></i></th>
                    <th> Spouse <i class="fa fa-caret-down"  onclick="sortTable(6); myFunction(6)"></i></th>
                    <th> Allegiances <i class="fa fa-caret-down"  onclick="sortTable(7); myFunction(7)"></i></th>
                    <th> Played By <i id="arrow" class="fa fa-caret-down"  onclick="sortTable(8); myFunction(8)"></i></th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="tbl-content">
        <table id="myTable2" cellpadding="0" cellspacing="0" border="0">
          {% block content %} 
            <tbody>
                {% for character in characters %}
                <tr>
                    <td>{{ character.id }}</td>
                    <td><a href="{{ url_for('character', name=character.name)
                    }}">{{ character.name }}</a></td>
                    <td>{{ character.titles }}</td>
                    <td>{{ character.father }}</td>
                    <td>{{ character.mother }}</td>
                    <td>{{ character.spouse }}</td>
                    <td><a href="/" class="link">{{ character.house }}</a></td>
                    <td>{{ character.actor }}</td>
                </tr>
                {%  endfor %}
                </tr>
            </tbody>
            {% endblock %}
          </table>
        </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/models.js') }}"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
  </body>
</html>
