<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>You Know Nothing</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <!-- Include Bootstrap CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/hover.css') }}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body class="index">
    <header>
        <div id="nav-row">
            <div ng-app>
                <nav class="navbar" style="margin:0;">{% include 'navWell.html' %}</nav>
            </div>
        </div>
    </header>
    <div>
        <img class="background-img" src="{{url_for('static', filename='css/images/background.jpg')}}">
    </div>
    <div class="scroll">
        <script type="text/javascript" src="{{ url_for('static', filename='js/typed.js') }}"></script>
        <script src="typed.js"></script>
        <script>
        document.addEventListener("DOMContentLoaded", function(){
            Typed.new(".element", {
                strings: ["You know nothing, Jon Snow.", "When you play a Game of Thrones, you win or you die.", "What's dead may never die.", "Valar Morghulis", "What do we say to the god of death? Not today", "Hodor", "I drink and I know things"],
                typeSpeed: 75,
                backSpeed: 35,
                backDelay: 1250,
                loop: true,
            });
        });
        </script>
        <span class="element"></span>
    </div>
    <div class="row">
        <div class="twitter col-md-7">
            <a class="twitter-timeline"  href="https://twitter.com/GameOfThrones" data-width="525" data-height="700">Tweets by @GameOfThrones</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <!-- START THE FEATURETTES -->
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">You know nothing... <span class="lighter">but we're here to help.</span></h2>
                <p class="lead">Navigating through the world of fire and ice can be complicated, but it doesn't have to be. This site will help you navigate the ins and outs of everything Game of Thrones so well you'll basically become an expert!</p>
            </div>
            <div class="col-md-7 col-md-push-5">
                <!-- <div class="row"> -->
                <div class="col-lg-4">
                    <img class="img" src="{{url_for('static',
                    filename='css/images/1490230031_Streamline-19.png')}}" alt="Lannister Sigil" width="100" height="100">
                    <a href="/episodes"><h2 class="hvr-underline-from-center">Episodes</h2></a>
                    <p>Catch up on what is happening in the world Ice and Fire by recounting all of your favorite episodes.</p>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="img" src="{{url_for('static',
                    filename='css/images/1490230015_Streamline-57.png')}}" alt="Lannister Sigil" width="100" height="100">
                    <a href="/houses"><h2 class="hvr-underline-from-center">Houses</h2></a>
                    <p>Dive into the history of these ancient houses.</p>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="img" src="{{url_for('static',
                    filename='css/images/1490230041_Streamline-62.png')}}" alt="person" width="100" height="100">
                    <a href="/characters"><h2 class="hvr-underline-from-center" >Characters</h2></a>
                    <p>Learn more about the lives of your favorite charaters, and see connections that you weren't able to see before.</p>
                </div>
            </div>
    </div>
    <!-- /END THE FEATURETTES -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a class="foot" href="#">Back to top</a></p>
        </footer>

    </div>
    <!-- /.container -->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>

</body>

</html>
