<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Inebriate.me</title>

    <!-- Include CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hover.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/individual.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inebriate.css') }}">

    <!-- Include Bootstrap CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body id="ind-home">
    <header>
        <div id="nav-row">
            <div ng-app>
                <nav class="navbar">{% include 'navWell.html' %}</nav>
            </div>
        </div>
    </header>

    <div class="selected-character">
        <img id="selected-character-id" src="https://www.drupal.org/files/profile_default.png">
        <button id="drink-button" class="drink-button">Select Character Below</button>
    </div>

    <div class="character-picker">
        <img src="https://www.3dtotal.com/admin/new_cropper/gallery_736/drogo_f05.jpg" onclick="charSwitch(1)">
        <img src="http://vignette4.wikia.nocookie.net/gameofthrones/images/c/c0/Arya_Stark_profile_Season4.jpg/revision/latest?cb=20140626201536" onclick="charSwitch(2)">
        <img src="http://cdn-img.instyle.com/sites/default/files/styles/684xflex/public/images/2016/04/042216-cersei-lannister-lead-new.jpg?itok=8TPG8WNQ" onclick="charSwitch(3)">
        <img src="https://vignette4.wikia.nocookie.net/gameofthrones/images/8/88/Daenerys-0.jpg/revision/latest/scale-to-width-down/350?cb=20170106122450" onclick="charSwitch(4)">
        <img src="https://qph.ec.quoracdn.net/main-qimg-0c8c7540509baf623b5397b8a564f36c" onclick="charSwitch(5)">
    </div>
    <script type="text/javascript" src="../static/js/inebriate.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
</body>

 </html>
