<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hover.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">

</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button class="navbar-toggle" onclick="mobileMenu()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">You know nothing</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden active">
                        <a href="/"></a>
                    </li>
                    <li class="">
                        <a class="page-scroll hvr-underline-from-center" href="/about">About</a>
                    </li>
                    <li class="">
                        <a class="page-scroll hvr-underline-from-center" href="/episodes">Episodes</a>
                    </li>
                    <li class="">
                        <a class="page-scroll hvr-underline-from-center" href="/houses">Houses</a>
                    </li>
                    <li class="">
                        <a class="page-scroll hvr-underline-from-center" href="/characters">Characters</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script>
    function mobileMenu() {
        var x = document.getElementById('navbar-collapse-1');
        if (x.style.display === 'block') {
            x.style.display = 'none';
        } else {
            x.style.display = 'block';
        }
    }
    $(function() {
        $('a.page-scroll').bind('click', function(event) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top
            }, 1500, 'easeInOutExpo');
            event.preventDefault();
        });
    });

    // Highlight the top nav as scrolling occurs
    $('body').scrollspy({
        target: '.navbar-fixed-top'
    })

    // Closes the Responsive Menu on Menu Item Click
    $('.navbar-collapse ul li a').click(function() {
        $('.navbar-toggle:visible').click();
    });
    </script>
</body>

</html>
